<div align="center">
    
        <table align="center" border="1" width=400>
            <tr>
                <th><h4>Department Name </h4></th>
                <td>{{department.dept_name}}</td>
            </tr>
            <tr>
                <th><h4>Number of Employees</h4></th>
                <td>{{department.num_emp}}</td>
            </tr>
            <tr>
                <th><h4>Year of Establishment</h4></th>
                <td>{{department.estb_year}}</td>
            </tr>
        </table>
    
</div>